@charset "UTF-8";

@import url("//unpkg.com/element-ui@2.15.1/lib/theme-chalk/index.css");
  .el-menu-vertical-demo:not(.el-menu--collapse) {
      width: 200px;
      min-height: 400px;
    }
	.el-tabs__header_ .is-active_ {
		color:'#409EFF';
		background-color:'#000000';
	}
	
	.el-badge__content.is-fixed {
		top:20px;
		right:-10px;
	}

	#resign {
		margin-left: 1%;
		align-self:center;
		background-color: #409EFF;
		color:#fff;
		border: none;
	}

  #headLine {
    display:flex;
    flex-direction:row;
    /* margin-bottom: 0.3%; */
    padding: 10,20,10,20;
	position:relative;
    /* border-bottom:1px solid #e6e6e6; */
    background-color: #409EFF;
    height: 50px;;
  }

  body{
    overflow:hidden;
  }

  #mainWindow{
	z-index: 0;
	padding-left: 65px;
	position: absolute;
  }

  #sideMenu {
	float: left;
	position: absolute;
	z-index: 2;
	background: none;
	/* transition: 0.7s,all; */
  }

  #system {
	position: absolute;
	right: 3%;
	align-self: center;
	color: #fff;
  }

  #menuButton {
	border: none;
	background-color: #409EFF;
	color: #fff;
  }